.profile-head {
    transform: translateY(5rem)
}

.cover {
    background: gold;
    border: 2px solid black;
}

body {
    background: black !important;
}

ul {
    color: gold;
}

.about, .shelf {
    color: gold;
    background-color: black;
    border: 2px solid gold;
}

.book {
    border: 1px solid gold;
}

.btn-link {
    color: gold;
}