.navbar{
    background-color: black;
    font-weight: 600;

}

.nav-link{
    color: gold;

}

.nav-link:hover{
    color: white;
}

.notification{
    margin-left: 40rem;
}


.mybtn{
    background-color: black;
    border-color: gold;
   color: white
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 3rem;
    background-color: black;
   
  }

.hdr-btn2{
    background: black;
    color: gray;
    margin-left: 1.5rem;

}

.hdr-btn1{
    background: black;
   color: white;
   margin-left: 3rem;
   }
   .hdrbtngroup{
margin-right: 5px;
   
}

.fa-plus-circle{
padding-right: 50px;
    color:gold;
    cursor:pointer;
  
}

.fa-plus-circle:hover{
color:goldenrod;
margin: 0.5px;
}

table {
    background-color: gray;
    }

td, th{
    color:gold;
    font-size: 1.4rem;
}

tr,tr:hover{
    background-color:black;
}

td > i{
cursor: pointer;
}

.fa-bookmark{
margin-left: 5px;
}